body {
  background-color: #F0F6F7FF;
} 

 #top {
  font-family:monospace;
  background-color: rgb(209, 151, 151);
  padding-top: 12px;
  padding-bottom: 10px;
  font-weight: bolder;
  }
.date {
  padding-left: 20px;
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
  color:#2460A7FF;
  background-color: rgb(209, 151, 151);
  text-align: left;
  }
#selectedDate {
  color: #F0F6F7FF;
  font-size: 16px;
  text-align:center;
  padding-left: 175px;
  }
#dateBtn {
  padding-left: 10px;
  border-color: #F0F6F7FF;
  color:#F0F6F7FF;
}

ul {
  list-style-type: none;
  position: -webkit-sticky; /* for safari */
  position: sticky;
  text-align: center;
  top: 0;
  margin-left:auto;
  margin-right:auto;
  overflow: hidden;
  background-color: lightblue;
}

.right-half li {
  float: left;
} 
.left-half li {
  float: left;
}

li a {
  display: block;
  color: #2460A7FF;
  text-align: center;
  padding: 12px 15px; 
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  }

li a:hover {
  background-color: #85B3D1FF;
}
.left-half {
  position: absolute;
  left: 5px;
  width: 50%;
  height: 100%;
  background: #F0F6F7FF;
}
.ll-half {
  position: absolute;
  left: 0px;
  width: 25%;
  height: 100%;
  background: #F0F6F7FF;
  text-align: center;
}
.workout-container {
  overflow: hidden;
  justify-content: center;
}

.filterDiv {
  float: center;
  color: #ffffff;
  width: 100px;
  text-align: center;
  /* margin: 2px; */
  display: none; /* Hidden by default */
}
/* The "show" class is added to the filtered elements */
.show {
  display: inline-block;
}

.btn {
  border: none;
  outline: none;
  padding: 10px 12px;
  background-color: #F0F6F7FF;
  cursor: pointer;
  color:#2460A7FF;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.btn:hover {
  background-color: rgb(209, 151, 151); 
}

.btn.active {
  background-color: lightblue;
  color: #F0F6F7FF;
}

h3 {
  text-align: center;
  color:  #2460A7FF; 
  font-family: 'Courier New', Courier, monospace;
}

p {
  color:  lightblue;
  font-size:9pt;
  font-family: 'Courier New', Courier, monospace;
}

h5{
  color: #F0F6F7FF;
  font-size: 10pt;
}

h4 {
  color: rgb(209, 151, 151);
  padding-left: 25pt;
  font-family: 'Courier New', Courier, monospace;
}

.stopwatch {
  display: grid;
  justify-items: center;
  /* grid-row-gap: 23px; */
  width: 100%;
  padding-top: 25px;
  text-align: center;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  color:#F0F6F7FF;
  height: 150px;
  width: 150px;
  border: 2px solid;
  border-radius: 50%;
  margin-bottom: 12px;
}

.time {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  font-size: 25px;
  color: lightblue;
}

.controls {
  display: flex;
  justify-content: space-between;
  width: 150px;
}

button {
  cursor: pointer;
  background: transparent;
  padding: 0;
  border: none;
  margin: 0;
  outline: none;
}

#playButton {
  display: block;
}

#pauseButton {
  display: none;
}

.container {
  width: device-width;
}

.right-half {
  position: absolute;
  right: 0px;
  width: 50%;
  height: 100%;
  background: #F0F6F7FF;
}

.left-side {
  position: absolute;
  left: 0px;
  width: 50%;
  padding-left:75pt;
}

.right-side {
  position: absolute;
  right: 0px;
  width: 50%;
  padding-right:50pt;
}

.lower-half {
  /* bottom: 0; */
  font-family: 'Courier New', Courier, monospace;
}

.upper-half {
  top: 0;
  font-family: 'Courier New', Courier, monospace;
}
 
header {
  background: #F0F6F7FF;
  padding: 20px 30px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
 
img {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 50%;
  display:block;
}

.slidecontainer {
  width: 45%;
  padding-left: 10pt;
}

.slider {
  -webkit-appearance: none;
  width: 98%;
  height: 5px;
  background: #669DB3FF;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #086fc4;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #086fc4;
  cursor: pointer;
}

h1 {
  font-size: 48px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 200;
  color: #2460A7FF;
  text-align: center;
  line-height: 59px;
  padding: 0 64px;
  margin: 0;
}

h2 {
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 200;
  color: #2460A7FF;
  text-align: center;
  line-height: 59px;
  padding: 0 64px;
  margin: 0;
}

#moodText {
  text-align: center;
  width:auto;
  height: fit-content;
}

#soreText {
  text-align: center;
  width:auto;
  height: fit-content;
}

/** This will be helpful when adding in water **/
.reset {
  min-width: 50px;
  display: block;
  padding: 15px;
  font-size: 15px;
  cursor: pointer;
  color:#85B3D1FF;
  /* float:left; */
 }

.waterAmt {
  min-width: 50px;
  display: block;
  padding: 15px;
  font-size: 15px;
  cursor: pointer;
  float:left;
  text-align: center;
  justify-content: center;
  color:#086fc4;
}

.waterAmt:hover {
  background-color: lightblue; 
}

.reset:hover {
  background-color: lightblue;
}

.stats {
  margin: auto;
  text-align: center;
}
.stats > *{
  margin: 10px auto;
  font-size: 20px;
}

#myInput {
  width: 75%;
  margin-left: 0;
  padding:10px;
  border: none;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.addBtn {
  width: 25%;
  padding: 10px;
  margin-left:0;
  background: #85B3D1FF;
  color: #F0F6F7FF;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.addBtn:hover {
  background-color: lightblue;
  color: #F0F6F7FF;
}

/* Style the list items */
.foodTracker ul li {
  cursor: pointer;
  position: relative;
  padding: 15px 40px 15px 40px;
  list-style-type: none;
  background: #85B3D1FF;
  font-size: 14px;
  transition: 0.2s;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  float:none;
  width: 80%;
  color:#2460A7FF;;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.foodTracker ul{
  text-align: left;
  margin-left:auto;
  margin-right:auto;
  overflow: hidden;
  background-color: transparent;
}

/* Set all odd list items to a different color (zebra-stripes) */
.foodTracker ul li:nth-child(odd) {
  background: lightblue;
}

/* Darker background-color on hover */
.foodTracker ul li:hover {
  background: skyblue;
}



/* trash button */
.far {
  position: absolute;
  right: 0;
  padding: 10px 16px 12px 16px;
}

.far:hover {
  color: white;
}
footer {
  left: 0;
  position: fixed;
  text-align: left;
  width: 100%;
  color:#2460A7FF;
  font-family: monospace;
  bottom: 0px;
}
footer h1 {
  margin: 0;
  text-decoration: none;
}

 



